html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100px;
    font: inherit;
    vertical-align: baseline;
    background-repeat: no-repeat;.
}
body {
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
}
body, input, textarea {
    font-family: PingFangSC-Light,helvetica neue,hiragino sans gb,tahoma,microsoft yahei ui,microsoft yahei,simsun,sans-serif,arial;
    color: #4c4c4c;
}

.top .input{
    width: auto;
    height: 60px;
    background-color: deepskyblue;
}
.input span1{
    width: 167px;
    height: 41px;
    font-size: 30px;
    color: #4c4c4c;
    margin-left: 40px;
    color: white;
    float: left;
    display: block;
    margin-top: 10px;
}
.input span2{
    width: 100px;
    height: 25px;
    font-size: 25px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}
.container{
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: white;
}
.container .header{
    height: 90px;
    background-color: #f5f5f5;
}
.wrong_tip{
    width: 160px;
    height: 21px;
    font-size: 15px;
    position: relative;
    left: 50px;
    top: 30px;
    color: red;
    margin: 0 auto;
    display: none;
}
.container .section_subnav{
    width: 1000px;
    margin: 0 auto;
}
.container .section_subnav .subnav_process {
    padding-top: 14px;
    text-align: center;
    *margin-left: 60px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container .section_subnav .subnav_process > li {
    position: relative;
    display: inline-block;
    *float: left;
}
.container .section_subnav .subnav_process > li > div {
    text-align: center;
    position: relative;
    float: left;
    min-width: 56px;
    height: 34px;
    line-height: 30px;
    vertical-align: middle;
}

.container .section_subnav .subnav_process > li > div > i {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    background-image: url("/travel/forgetPwd/common.png");
    background-position: 0 -404px;
    background-repeat: no-repeat;
}
.container .section_subnav .subnav_process > li > div > p {
    position: relative;
    top: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: -8px;
    color: #a5a5a5;
}
p {
    border: none;
    margin: 0;
    padding: 0;
}


.container .section_subnav .subnav_process > li > a {
    float: left;
    width: 220px;
    height: 2px;
    margin-top: 14px;
    vertical-align: middle;
    background-color: #ededed;
}

.container .section_subnav .subnav_process > li > a {
    background-image: url("/travel/forgetPwd/common.png");
    background-position: 0 -400px;
    background-repeat: no-repeat;
}
.container .section_subnav .subnav_process > li > .next{
    background-position: 0 -392px;
}
i {
    font-style: normal;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
}
span{
    display: block;
}

.container .section-main{
    width: 100%;
}
.container .section > div {
    width: 1000px;
    margin: 0 auto;
}
.main_form {
    width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}
.form{
    width: 530px;
    margin: 0 auto;
}

.username{
    position: relative;
    margin-left: auto;
    width: 400px;
    height: 200px;
    font-size: 15px;
    line-height: 32px;
}

.username .input_content{
    position: relative;
}
.username .input_content .input_find_username{
    padding: 0 10px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 10px;
    box-shadow: 0 0 4px 0 #2f86f6 !important;
    margin: 0 auto;
    font-size: 20px;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}
.form .span-div {
    display: none;
    width: 200px;
    text-align: left;
    padding-left: 5px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ffbbba;
    background-color: #ffefef;
    border-radius: 2px;
    color: red;
}
.first_input_code .code-position{
    position: absolute;
    top: 40px;
    left: 290px;
}
.username .input_content .tip-error-text{
    position: absolute;
    top: 0;
    left: 290px;
}

.code{
    position: relative;
    top: 10px;
    width: 400px;
}
.find_code{
    position: relative;
}
.input_find_code{
    position: relative;
    padding: 0 10px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 10px;
    box-shadow: 0 0 4px 0 #2f86f6 !important;
    margin: 0 auto;
    font-size: 20px;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}
.btn{

    position: relative;
    left: 150px;
    top: -50px;
    width: 100px;
    height: auto;
}
.btn button{
    position: relative;
    top: 20px;
    margin-left: 100px;
    width: 60px;
    height: 30px;
    display: block;
    color: white;
    border: 0;
    /* 按钮边框不显示 */
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #4692f4;
    /* 按钮背景颜色与背景图一样 */
}
.btn button:hover{
    background-image: linear-gradient(19deg, #8EC5FC 0%,#E0C3FC 100%);
}
.first_input_code img{
    display: inline-block;
    height: 30px;
    position: relative;
    top: 5px;
    left: 20px;
}

.second{
    display: none;
    width: 100%;
    height: auto;
    position: relative;
    top: 30px;
}
.second .second-container{
    width: 1000px;
    display: block;
    margin: 0 auto;
}
.second-container div{
    margin: 0 auto;
}
.second .second_title{
    width: 300px;
    height: auto;
    margin-top: 0;
    border-bottom: 1px solid #eaf3fe;
    text-align: center;
}
.second .second_title label{
    width: 250px;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: middle;
    color: #2f86f6;
}
.second .second-container .email_content{
     width: 400px;
     height: 150px;
}
.second .second-container .email_content .email label{
    position: relative;
    margin-left: 110px;

}
.second .second-container .email_content .second-form .input_email{
    position: relative;
    margin-left: 110px;
    margin-top: 10px;
    font-size: 15px;
    height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 10px;
    box-shadow: 0 0 4px 0 #2f86f6 !important;
    -webkit-transition: border-color .2s,box-shadow .2s;
    transition: border-color .2s,box-shadow .2s;
}
#form_email{
    width: 400px;
    height: 50px;
}
.second .span-div{
    display: none;
    width: 68px;
    position: relative;
    left: 170px;
    top: -30px;
    margin-left: 150px;
    text-align: left;
    height: 22px;
    overflow: hidden;
    border: 1px solid #ffbbba;
    background-color: #ffefef;
    border-radius: 2px;
    color: red;
}
.certain-email{
    width: 120px;
    height: 90px;
    position: relative;
    top: 20px;
}
.certain-email .certain_btn{
    width: 100px;
    height: auto;
    color: whitesmoke;
    margin: 0 auto;
}
.certain-email .certain_btn button{
    position: relative;
    left: 25px;
    width: 60px;
    height: 30px;
    display: block;
    color: white;
    border: 0;
    /* 按钮边框不显示 */
    font-size: 18px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #4692f4;
    /* 按钮背景颜色与背景图一样 */
}
.certain_btn button:hover{
    background-image: linear-gradient(19deg, #8EC5FC 0%,#E0C3FC 100%);
}

.third-container{
    width: 800px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.set_newCode{
    width: 500px;
    height: auto;
    position: relative;
    /*margin: 0 auto;*/
    margin-top: 20px;
    margin-left: 280px;
}
.set_newCode label{
    font-size: 16px;
    line-height: 32px;
    position: relative;
}
.newCode1{
    width: 500px;
    height: 90px;
}
.newCode2{
    width: 500px;
    height: 90px;
}
.newCode{
    width: 400px;
    height: 70px;
}
.certain_newCode{
    width: 400px;
    height: 70px;
}

.input_code{
    width: 262px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #9aa0a7;
    line-height: 36px;
    text-indent: 10px;
    font-size: 15px;
    background-color: whitesmoke;
    transition: border-color .2s,box-shadow .2s;
    position: relative;
    margin-top: 10px;
}
.certain_newCode{
    position: relative;
    margin-top: 10px;
}
#btn-newCode{
    width: 100px;
    height: 37px;
    font-size: 16px;
    background-color: #2f86f6;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
    border: 0px;
    outline: none;
    color: white;
    text-align: center;
    padding: 0px;
}
#btn-newCode:active{
    width: 100px;
    height: 37px;
    font-size: 16px;
    background-color: #0d67bb;
    position: relative;
    margin-top: 20px;
    margin-left: 80px;
    border: 0px;
    outline: none;
    color: white;
    text-align: center;
    padding: 0px;
}
.third span{
    display: none;
    font-size: 13px;
    width: 100px;
    height: 39.6px;
    text-align: center;
    line-height: 39.6px;
    background-color: #ffefef;
    vertical-align: top;
    margin-top: 10px;
    left: 10px;
    border: 1px solid #ffbbba;
    color: red;
    position: relative;
    top: -50px;
    left: 280px;
}


.third{
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.fourth{
    display: none;
    position: relative;
    top: 200px;
    text-align: center;
}